@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');


.border-page {
    border-right: 1px solid #69b580;
    border-left: 1px solid #69b580;
    height: 100%;
    background-color: rgba(255, 250, 246, 1)
}

.height100 {
    height: 100%;
}

.noContainer {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contentColumn {
    height: 96vh;
    overflow: hidden;
    overflow-y: scroll;
}

.contentColumn::-webkit-scrollbar {
    display: none;
}

.v-theme--light {
    --v-theme-surface: none;
}

.pa-2 {
    padding: 0px !important;
    overflow: auto !important;
}

.v-application__wrap {
    background: rgb(255, 250, 246) !important;
    font-family: 'Quicksand';
}

.v-application__wrap {
    background-image: url('/src/assets/images/bgImage.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto 100% !important;
    height: 100vh !important;
    width: 100vw !important;
    background-attachment: fixed !important;
}

body {
    background: rgb(255, 250, 246) !important;
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: aliceblue;
}

.hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.whiteText {
    color: white !important;
}

.displayWarp {
    display: flex;
    flex-wrap: wrap;
}

.displayFlexStart {
    display: flex;
}

.displayColumn {
    display: flex;
    flex-direction: column;
}

.orderColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orderRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alignContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignContentCenterBottom {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.alignContentSpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bgFooter {
    background-color: black;
    height: 65px;
}

.textSmall {
    font-size: 16px !important;
}

.textMedium {
    font-size: 18px !important;
}

.textMediumLarge {
    font-size: 20px !important;
}

.textBig {
    font-size: 30px !important;
}

.textTitle {
    font-size: 50px !important;
}


.btnJoin:active {
    color: white;
    background-color: rgba(90, 154, 109, 1);
    border: 1px solid rgba(118, 188, 139, 1);
}

.btnOut:active {
    color: white;
    background-color: rgba(90, 154, 109, 1);
    border: 1px solid rgba(118, 188, 139, 1);
}

.alertPostOccurrence {
    padding-bottom: 0px;
}