@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');


.pa-2 {
    padding: 0px !important;
}

.v-application__wrap{
    background: rgb(255, 250, 246) !important;
    font-family: 'Quicksand';
}

.v-application__wrap{
    background-image: url('/src/assets/images/bgImage.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto 100% !important;
    height: 100vh !important;
    width: 100vw !important;
}


body {
    background: rgb(255, 250, 246) !important;
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: aliceblue;
}


.hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.whiteText {
    color: white !important;
}

.orderColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderRow {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.alignContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignContentCenterBottom {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.alignContentSpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bgFooter {
    background-color: black;
    height: 65px;
}

.textSmall {
    font-size: 16px !important;
}
.textMedium {
    font-size: 18px !important;
}
.textMediumLarge {
    font-size: 20px !important;
}
.textBig {
    font-size: 30px !important;
}
.textTitle {
    font-size: 50px !important;
}
