

.even {
    background-color: #d7f4e0;
}

input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: #e5e0d0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #69b580;
    position: relative;
}

input[type="checkbox"]:checked:after {
    content: "×";
    color: #333;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.img-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-occurrence {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.members {
    background-color: #B4D6BA;
    border-radius: 25px;
    padding: 10px;
    max-width: 500px;
}

.img-members {
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.spacing {
    background-color: #69b580;
    height: 15px;
    width: 80px;
    border-radius: 50px;
}

span,
p {
    font-size: 20px;
}