body {
    background: #FFFAF6;
}

#logo {
    margin-left: 5vw;
}
#logo:hover {
    cursor: pointer;
}

#bgImg {
    background-image: url(../landingPage/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    height: 75vh;
    width: 100vw;
}

#signs {
    color: white;
}

#signs:hover {
    text-decoration: underline;
    cursor: pointer;
}

#entry {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

.whiteText {
    color: white;
}


.content {
    margin-top: 20vh;
    justify-content: center;
}

.bgWhiteText {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#inputEmail {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 12%;
    color: #FFFAF6;
}
#inputEmail input {
    color: #767676;
    background-color: #ddefe3;  
}

#btnStarted {
    background-color: #323232;
    padding-left: 2%;
    padding-right: 2%;
    max-height: 56px;
    border-radius: 0px, 5px, 0px, 5px !important;
}

.textContentInit {
    background-color: #ddefe3;
    text-align: center;
    padding: 5vh;
}

.textContentWhite {
    justify-content: center;
}