#bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
}

#icon{
    padding-left: 22px;
}

#logoIcon {
    width: 80px;
    padding-bottom: 60px;
}

#home,
#occurrences,
#events,
#activities,
#suggestions {
    display: flex;
    align-items: center;
}

#firstIcon,
#secondIcon,
#thirdIcon,
#forthIcon,
#fifthIcon,
#sixthIcon {
    width: 25px;
}

#firstLink,
#secondLink,
#thirdLink,
#forthLink,
#fifthLink {
    padding-left: 15px;
    font-size: 24px;
}


#top {
    height: 40%;
    flex-direction: column;
    justify-content: flex-start;
}

#topperLinks {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

#bottomLinks {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

#post {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;
    align-items: stretch;
    padding-left: 20px;
}

#postOccurrence:hover{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#postOccurrence {
    height: 50px;
    width: 256px;
    background: rgba(173, 242, 194, 1) !important;
    color: rgba(60, 120, 78, 1) !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

#bot {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

#trace {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

hr {
    color: rgb(228, 216, 207);
    width: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#perfilInfos {
    padding-left: 20px;
}

