.bannerPerfil {
    width: inherit;
    height: 155px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    display: flex;
    justify-content: flex-end;
}

.editProfile {
    margin-right: 3%;
    margin-top: 1%;
    color: white;
}

.contentColumnPerfil {
    height: 70.5vh;
    overflow: hidden;
    overflow-y: scroll;
}

.contentColumnPerfil::-webkit-scrollbar {
    display: none;
}

.containUserInfo {
    position: relative;
    width: inherit;
    height: 90px;
    background-color: #94CBA5;
}

.imgPerfil {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    margin-top: -60px;
    border: 2px solid white;
}

.perfilElements {
    margin-left: 20px;
    height: inherit;
}

.perfilTextElements {
    margin-left: 20px;
    margin-top: 10px;
}

.perfilName {
    font-size: 24px;
}

.perfilDesc {
    font-size: 14px;
}

.filterPerfil {
    width: inherit;
    height: 30px;
}

.v-tab.filterBtnPerfil {
    height: 30px !important;
}

/* change perfil */
.bgPopUp {
    background-color: rgba(255, 250, 246, 1);
}

.changeImgPerfil {
    border-radius: 50%;
    border: 2px solid white;
    filter: brightness(50%);
    width: 150px;
    height: 150px;
}

.changeBannerPerfil {
    width: 550px;
    /* min-width: 350px; */
    height: 180px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    border: 2px solid white;
    filter: brightness(50%);
}

.v-field__input {
    background-color: #CCEED6;
}

.btnLeaf {
    width: 180px;
    height: 45px !important;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 90px;
}

/* .containerbtnResetSaveL {
    padding-top: 6%;
    padding-left: 20%;
}
.containerbtnResetSaveR {
    padding-top: 6%;
    padding-right: 20%;
} */

.btnSave {
    border: 3px solid #BAB653;
    background-color: #69B580;
    color: white;
}
.btnReset {
    border: 3px solid #69B580;
    color: #69B580;
    width: 150px;
}

.file {
    width: inherit;
    height: inherit;
}

.mdi:before, .mdi-set {
    display: none;
}