.bannerPerfil {
    width: 25vh;
    height: 25vw;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
}

.contentColumnPerfil {
    height: 57vh;
    overflow: hidden;
    overflow-y: scroll;
}

.contentColumnPerfil::-webkit-scrollbar {
    display: none;
}