#carouselItems {
    margin-top: 10%;
}
/* mission */
.rowMission {
    max-width: 260px;
}

.rowStyleMission {
    padding: 3%;
    background-color: #69B580;
    border-radius: 5px;
    border: solid 1px black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rowDesc {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.imgIcon {
    width: 30px;
    padding-right: 2%;
}

.circularProgress {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #bfbfbf;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.textMission {
    padding-top: 2%;
}

/* recent posts */
.recentPost {
    max-width: 260px;
}

a {
    color: black;
}

.postBgImage {
    width: 260px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 260px 140px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.postTitleContent {
    width: 260px;
    height: 45px;
    background-color: #bfbfbf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.postIcon {
    width: 15px;
    height: 15px;
}

.postIconBackground {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* badges */
.bgGrey {
    background-color: #E4DBD3;
    border-radius: 5px;
}

.orderBadges {
    display:flex;
    flex-wrap: wrap;
}

.contentBadgesCat {
    padding: 5%;
    align-self: flex-start;
}

.badgeImgContainer {
    margin-right: 10px;
    margin-bottom: 5px;
}

.badgeImg {
    width: 46px;
}

.divider {
    width: 150px;
    height: 3px;
    background-color: #CAC2BC;
    margin-bottom: 5%;
}