#carouselItems {
    margin-top: 10%;
}


/* mission */
.rowStyleMission {
    max-height: 50px !important;
    min-width: 275px !important;
    padding: 3%;
    background-color: #69B580;
    border-radius: 5px;
    border: solid 1px black;
}
.imgIcon {
    width: 30px;
    height: 30px;
    padding-right: 2%;
}
.circularProgress {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #bfbfbf;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 40%;
    margin-left: -60px;
    font-size: 12px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
.tooltip:hover .tooltiptext {
    visibility: visible;
}



/* recent posts */
.postTitle{
    color: black;
}
a {
    color: black !important;
}

.--v-window__container {
    width: 100%;
}
.postBgImage {
    width: 100%;
    max-width: 280px;
    min-height: 140px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}
/* post icon */
.postIcon {
    max-width: 15px;
    max-height: 15px;
}
.postIconBackground {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.postTitleContent {
    width: 100%;
    height: 45px;
    background-color: #bfbfbf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-self: flex-end;
    align-items: center;
}

/* badges */
.bgGrey {
    background-color: #E4DBD3;
    border-radius: 5px;
    max-width: 260px;
}
.badgeImg {
    width: 46px;
}
.divider {
    width: 150px;
    height: 3px;
    background-color: #CAC2BC;
}
.tooltipBadges {
    position: relative;
}
.tooltipBadges .tooltiptextBadges {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 100%;
    margin-left: -60px;
    font-size: 10px;
}
.tooltipBadges .tooltiptextBadges::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltipBadges:hover .tooltiptextBadges {
    visibility: visible;
} 


/* raking */
/* container */
.rankingBgContainer {
    max-width: 270px;
    height: 100%;
    background-color: #E4DBD3;
    border-radius: 5px;
    border: 1px solid #8F9992;
    /* padding: 0px;
    padding-top: 12px; */
}
/* scrollbar */
.hiddenScroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
.hiddenScroll::-webkit-scrollbar {
  display: none;
}
/* dividers */
.dividerRank{
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
    margin-bottom: 2%;
}
.dividerDark {
    width: 100%;
    height: 1px;
    background-color: #8F9992;
}
.dividerBlack {
    width: 100%;
    height: 1px;
    background-color: black;
}
/* buttons style */
.btnFilter:focus {
    color: #E4DBD3;
    background-color: #504841;
}
/* btn side bars */
.btnSideBar {
    color: #69B580;
    width: 40px;
}
.btnSideBar:hover {
    color: #5A9A6D;
}