#carouselItems {
    margin-top: 10%;
}

.rowMission {
    max-width: 260px;
}

.rowStyle {
    padding: 3%;
    background-color: #69B580;
    border-radius: 5px;
    border: solid 1px black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowDesc {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.imgIcon {
    width: 30px;
}

.circularProgress {
    position: relative;
    background: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.textMission {
    padding-top: 2%;
}