#buttons {
    display: flex;
    justify-content: flex-end;
}

#btnOrganizer {
    display: flex;
    width: 236px;
    justify-content: space-evenly;
}

#suggestionContent {
    padding-right: 10px;
    padding-left: 10px;
}

#selectBox {
    width: 400px;
}

#textArea {
    width: 500px;
}